<div id="employee-data" data-employees-url="<%= employees_path(format: :json) %>"></div>

<div class="flex-column set-center" style="height: auto;">
  <h1> Employees </h1>

  <% if session[:user_id] %>
    <%= link_to "Sign out", session_path(id: "sign_out"), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <!-- Error Message -->
  <% if flash[:errors] %>
    <% flash.each do |name, message| %>
      <p class="text-danger"><%= message %></p>
    <% end %>
  <% end %>

  <!-- View as JSON Button -->
  <div class="my-3">
    <%= link_to "View as JSON", employees_path(format: :json), target: "_blank", class: "btn btn-primary" %>
  </div>

  <!-- Add Employee Button -->
  <div class="my-3">
    <%= link_to "Add Employee", new_employee_path, class: "btn btn-success" %>
  </div>

  <!-- Employee Table -->
  <div>
    <table id="employee-table" class="table table-info table-striped fs-5">
      <thead class="table-secondary">
        <tr>
          <th class="text-center">Id</th>
          <th class="text-center">Name</th>
          <th class="text-center">Hobbies</th>
          <th class="text-center" colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>